DirectoryIndex index.php index.html index.htm index2.html


# Définir des pages d'erreur personnalisés
ErrorDocument 403 /403.php

ErrorDocument 404 /404.php

RewriteEngine On

# Autoriser Bingbot et Googlebot sans restrictions
RewriteCond %{HTTP_USER_AGENT} (Googlebot|bingbot) [NC]
RewriteRule .* - [L]

ErrorDocument 500 https://errors.infinityfree.net/errors/500/