body {
    background-color: #f2f2f2;
}




.header {
    text-align: center;
    background-color: #00cc66;
    border-bottom: 2px solid black;
    padding: 10px;
    
}
h1 {
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    margin: 20;
}
p {
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin: 10px;
    margin-top: 20px;

}
#downloadButton1, #downloadButton2, #downloadButton3 {
    background-color: #00cc66;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px;
}
.footer {
    text-align: center;
    background-color: rgb(66, 66, 66);
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: flex-start;
    gap: 40px;
}
.footer a ,.footer p, .footer li {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}
.bloc {
    margin-top: 10px;
    flex: 1,
}
.bloc p {
    margin: 10;
    font-size: 18px;
    font-style: bold;
}
